canvas {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
}

.wrap{
  background: url(../images/burn.jpg) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: Title;
  src: url(../fonts/Pervitina-Dex-FFP.ttf) format("truetype");
}

@font-face {
  font-family: Info;
  src: url(../fonts/Flatwheat-Italic.ttf) format("truetype");
}

@font-face {
  font-family: Messages;
  src: url(../fonts/OstrichSans-Black.otf) format("truetype");
}

#title{
  display: block;
  text-align: center;
  font-family: Title;
  font-size: 5vw;
  color: darkred;
  text-decoration: overline underline;
  text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
}

.start_b_div{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#start_b{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10vw;
}

#buttonL{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 11vw;
  opacity: 0.5;
}

.column {
  text-align: center;
  font-family: Title;
  font-size: 1.5vw;
  color: rgb(179, 0, 0);
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lista_diff {
  width: auto;
  text-align: center;
  font-family: Title;
  font-size: 1.5vw;
  color: rgb(179, 0, 0);
  border: 3px solid rgb(179, 0, 0);
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-appearance: none;
  -moz-appearance: none;
}

.modal {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 101; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(1,1,1, 0.5); 
}

.modal-content {
    background-color: rgba(179,180,1, 0.9);
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    width: 75%; 
    height: 75%; 
    overflow-y: auto; /* Enable scroll if needed */
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content2 {
    background-color: rgba(179,180,1, 0.9);
    position: absolute;
    top: 25%;
    left: 35%;
    width: 30%; 
    height: 50%;
    overflow-y: auto; /* Enable scroll if needed */
    animation-name: animatetop2;
    animation-duration: 0.4s
}

.modal-content3 {
    background-color: rgba(179,180,1, 0.9);
    position: absolute;
    top: 22.5%;
    left: 30%;
    width: 35%; 
    height: 55%;
    overflow-y: auto; /* Enable scroll if needed */
    animation-name: animatetop3;
    animation-duration: 0.4s
}

/* Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 12.5%; left: 12.5%; opacity: 1}
}
@keyframes animatetop2 {
  from {top: -300px; opacity: 0}
  to {top: 25%; left: 35%; opacity: 1}
}
@keyframes animatetop3 {
  from {top: -300px; opacity: 0}
  to {top: 22.5%; left: 30%; opacity: 1}
}

.close {display: none;}

#instruction{
  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.2vw;
}

#commands{
  width:74vh; 
  height: 74vh;
  position:absolute;
  left:50%;
  top:50%;
  margin-top:-37vh; /* This needs to be half of the height */
  margin-left:-37vh;
}

/** loading **/

#loading-screen {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #353429;
  opacity: 1;
  transition: 1s opacity;
}
#loading-screen.fade-out {
    opacity: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  animation-delay: 1s;
}
.item-1 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #eed968;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.item-1:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eed968;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 200ms;
  transition: 0.5s all ease;
  transform: scale(1);
}
.item-2 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #eece68;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.item-2:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eece68;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 400ms;
  transition: 0.5s all ease;
  transform: scale(1);
}
.item-3 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #eec368;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.item-3:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eec368;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 600ms;
  transition: 0.5s all ease;
  transform: scale(1);
}
.item-4 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #eead68;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.item-4:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eead68;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 800ms;
  transition: 0.5s all ease;
  transform: scale(1);
}
.item-5 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #ee8c68;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.item-5:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ee8c68;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 1000ms;
  transition: 0.5s all ease;
  transform: scale(1);
}

/** game **/
.game {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: none;
}

#game_id {
  display: none;
}

#timer{
  display: block;
  font-family: "Info";
  font-size: 1vw;
  color: rgb(179, 0, 0);
  background-color: rgba(0, 179, 179, 0.4);
  z-index: 100;
  width: 11vw;
  height: 1.3vw;
  position: absolute;
  right: 0.5%;
  margin-top: 0.5%;
}

#height{
  display: block;
  font-family: "Info";
  font-size: 1.3vw;
  color: rgb(179, 0, 0);
  background-color: rgba(0, 179, 179, 0.4);
  z-index: 100;
  width: 11vw;
  height: 2.0vw;
  position: absolute;
  right: 0.5%;
  margin-top: 3.5%;
}

#velocity{
  display: block;
  font-family: "Info";
  font-size: 1.3vw;
  color: rgb(179, 0, 0);
  background-color: rgba(0, 179, 179, 0.4);
  z-index: 100;
  width: 11vw;
  height: 2.0vw;
  position: absolute;
  right: 0.5%;
  margin-top: 6%;
}

#roll{
    display: block;
    font-family: "Info";
    font-size: 0.9vw;
    color: rgb(179, 0, 0);
    background-color: rgba(0, 179, 179, 0.4);
    z-index: 100;
    width: 11vw;
    height: 2.0vw;
    position: absolute;
    right: 0.5%;
    margin-top: 10%;
}

#pitch{
     display: block;
     font-family: "Info";
     font-size: 0.9vw;
     color: rgb(179, 0, 0);
     background-color: rgba(0, 179, 179, 0.4);
     z-index: 100;
     width: 11vw;
     height: 2.0vw;
     position: absolute;
     right: 0.5%;
     margin-top: 12.5%;
 }

#conversation{
  display: block;
  font-family: "Messages";
  text-align: center;
  font-size: 2.9vh;
  color: rgb(179, 0, 0);
  background-color: rgba(179,180,1, 0.4);
  z-index: 100;
  width: 40vw;
  height: auto;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, 0);
}

#tank{
     display: block;
     font-family: "Info";
     font-size: 1.3vw;
     color: rgb(179, 0, 0);
     background-color: rgba(0, 179, 179, 0.4);
     z-index: 100;
     width: 11vw;
     height: 4vw;
     position: absolute;
     right: 0.5%;
     margin-top: 16%;
 }

#tankBar {
  width: 0%;
  height: 2vw;
  background-color: rgb(5,193,255);
}

#audio_div{
  display: block;
  position: absolute;
  z-index: 100;
  left: 5px;
  top: 1%;
}

#pause_div{
  display: block;
  position: absolute;
  z-index: 100;
  left: 40px;
  top: 1%;
}

#audio, #pause {
  height: 30px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.4);
}

#pause_page {
  display: block;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Info;
  font-size: 50px;
  color: rgb(179, 0, 0);  
  text-align: center;
}

#pause_b{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-top: 10px;
}

#help_div{
  display: block;
  position: absolute;
  z-index: 100;
  left: 75px;
  top: 1%;
}

#help {
  height: 30px;
  width: 80px;
  background-color: rgba(255, 255, 255, 0.4);
}

#gameover_page {
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Info;
  font-size: 5vh;
  color: rgb(179, 0, 0);  
  text-align: center;
}

.msg {
  display: block;
  position: absolute;
  font-family: Info;
  font-size: 3vh;
  color: rgb(179, 0, 0);  
  text-align: center;
  margin-top: 10%;
}

#gameover_b1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20vh;
  margin-top: 75%;
}

#gameover_b2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20vh;
  margin-top: 10px;
}

#win_page {
  display: block;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Info;
  font-size: 7vh;
  color: rgb(179, 0, 0);  
  text-align: center;
}

#win_b1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20vh;
  margin-top: 60%;
}